<mat-toolbar color="primary" class="flex-shrink-0 d-flex justify-content-between" *ngIf="authService.currentUserValue">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img [src]="'/assets/logo_' + (isDarkTheme ? 'dark' : 'light')+ '.png'"
       style="height: 100%; padding: 5px; object-fit: contain" alt="DnD Online">
  <div>
    <button mat-button [matMenuTriggerFor]="menu">{{authService.currentUserValue.username}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchDarkTheme()">
        <ng-container *ngIf="!isDarkTheme">Thème sombre</ng-container>
        <ng-container *ngIf="isDarkTheme">Theme clair</ng-container>
      </button>
      <button mat-menu-item routerLink="/user-detail">Profile</button>
      <button mat-menu-item (click)="authService.logout()">Déconnexion</button>
    </mat-menu>
  </div>

</mat-toolbar>

<mat-drawer-container autosize class="flex-grow h-100 overflow" style="z-index: 100;">
  <mat-drawer #drawer mode="over" style="z-index: 100;">
    <div *ngIf="authService.currentUserValue"
         class="d-flex flex-column m-3">
      <button mat-raised-button routerLink="/" (click)="drawer.toggle()">Menu principal</button>

      <button mat-raised-button *ngIf="authService.isAdmin"
              class="my-3"
              routerLink="/" (click)="drawer.toggle()">
        Gestion des Tournois
      </button>
      <button mat-raised-button *ngIf="authService.isAdmin"
              routerLink="/" (click)="drawer.toggle()">
        Gestion des utilisateurs
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="flex-grow d-flex">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
